html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --primary: #01579b;
  --p-light: #4f83cc;
  --p-dark: #002f6c;
  --secondary: #ffb300;
  --s-light: #ffe54c;
  --s-dark: #c68400;
  --light: #fff;
  --dark: #1e1e1e;
  --gray: #ccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: var(--light);
  color: var(--dark);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body * {
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h5 {
  font-weight: 500;
}

body .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  height: 2rem;
  background: var(--primary);
  color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

body .navbar .navbar__brand {
  height: 2rem;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: var(--light);
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

body .navbar .navbar__nav {
  min-width: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  background: var(--primary);
  z-index: 0;
}

body .navbar .navbar__nav .navbar__items--link {
  padding: 0.5rem;
  color: var(--light);
  cursor: pointer;
}

body .navbar .navbar__nav .navbar__items {
  margin: 0;
  padding: 0;
  display: inline-block;
}

body .navbar .navbar__nav .navbar__items .navbar__link {
  padding: 0.5rem 0 0.5rem 1rem;
  color: var(--light);
  cursor: pointer;
}

body .navbar .fade-enter-active,
body .navbar .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

body .navbar .fade-enter,
body .navbar .fade-leave-to {
  opacity: 0;
}

body .navbar .slide-fade-enter-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body .navbar .slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

body .navbar .slide-fade-enter,
body .navbar .slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

body .navbar .bounce-enter-active {
  -webkit-animation: bounce-in .5s;
          animation: bounce-in .5s;
}

body .navbar .bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@-webkit-keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body .navbar .options {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1600;
  background: transparent;
}

body .navbar .options .options__card {
  position: absolute;
  width: 80%;
  max-width: 15rem;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background: var(--light);
  border: solid 1px var(--p-light);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

body .navbar .options .options__card .options__card__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

body .navbar .options .options__card .options__card__items .options__card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--dark);
}

body .navbar .options .options__card .options__card__items .options__card__item {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0;
}

body .navbar .options .options__card .options__card__items .options__card__item .options__card__link {
  width: 100%;
  font-size: 1.1rem;
  color: var(--dark);
  cursor: pointer;
}

body .navbar .options .options__card .options__card__items .options__card__item .options__card__link i {
  width: 1.75rem;
  font-size: 1.1rem;
  color: var(--primary);
}

body .navbar .navbar__fondo {
  position: absolute;
  width: 100%;
  height: calc(100vh - 4rem);
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1300;
}

body .navbar .navbar__fondo .navbar__search {
  position: absolute;
  top: -3rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 4rem);
  padding: 1rem;
  background: var(--light);
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  z-index: 1400;
}

body .navbar .navbar__fondo .navbar__search .navbar__search--input {
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: solid 2px var(--secondary) !important;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background: var(--light);
}

body .alert {
  position: absolute;
  width: 80%;
  margin: auto;
  top: 0.5rem;
  left: 5%;
  right: 5%;
  max-width: 450px;
  padding: 1rem;
  margin: 1rem auto;
  background: var(--s-light);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

body form {
  width: 100%;
}

body form input {
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: solid 1px var(--p-light);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background: var(--light);
}

body form .input:focus {
  border: solid 1px var(--p-light);
  outline: none;
}

body form input[type=checkbox] {
  display: inline-block;
  padding: 0.5rem;
  border: solid 1px var(--primary);
}

body form input[type=checkbox] > label {
  display: inline-block;
}

body form textarea {
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: solid 1px var(--p-light);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

body form select {
  width: calc(100%);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: solid 1px var(--p-light);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background: var(--light);
}

body form .form-label {
  margin-bottom: 1rem !important;
}

body form .form-label i {
  padding-bottom: 1rem;
  color: var(--primary);
}

body button {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body .btn-primary {
  background: var(--primary);
  color: var(--light);
  border: 0;
}

body .btn-p-light {
  background: var(--p-light);
  color: var(--light);
  border: 0;
}

body .btn-p-dark {
  background: var(--p-dark);
  color: var(--light);
  border: 0;
}

body .btn-secondary {
  background: var(--secondary);
  color: var(--dark);
  border: 0;
}

body .btn-s-light {
  background: var(--s-light);
  color: var(--dark);
  border: 0;
}

body .btn-s-dark {
  background: var(--s-dark);
  color: var(--light);
  border: 0;
}

body .btn-gray {
  background: var(--gray);
  color: var(--dark);
  border: 0;
}

body .btn-outline-primary {
  background: transparent;
  color: var(--primary);
  border: solid 2px var(--primary);
}

body .btn-outline-p-light {
  background: transparent;
  color: var(--p-light);
  border: solid 2px var(--p-light);
}

body .btn-outline-p-dark {
  background: transparent;
  color: var(--p-dark);
  border: solid 2px var(--p-dark);
}

body .btn-outline-secondary {
  background: transparent;
  color: var(--secondary);
  border: solid 2px var(--secondary);
}

body .btn-outline-s-light {
  background: transparent;
  color: var(--s-light);
  border: solid 2px var(--s-light);
}

body .btn-outline-s-dark {
  background: transparent;
  color: var(--s-dark);
  border: solid 2px var(--s-dark);
}

body .btn-outline-gray {
  background: transparent;
  color: var(--gray);
  border: solid 2px var(--gray);
}

body .text-primary {
  color: var(--primary) !important;
}

body .text-p-light {
  color: var(--p-light) !important;
}

body .text-p-dark {
  color: var(--p-dark) !important;
}

body .text-secondary {
  color: var(--secondary) !important;
}

body .text-s-light {
  color: var(--s-light) !important;
}

body .text-s-dark {
  color: var(--s-dark) !important;
}

body .text-light {
  color: var(--light) !important;
}

body .text-dark {
  color: var(--dark) !important;
}

body .text-gray {
  color: var(--gray) !important;
}

body .text-100 {
  font-weight: 100;
}

body .text-300 {
  font-weight: 300;
}

body .text-500 {
  font-weight: 500;
}

body .text-700 {
  font-weight: 700;
}

body .m-3 {
  margin: 1rem !important;
}

body .my-3 {
  margin: 1rem 0 !important;
}

body .mx-3 {
  margin: 0 1rem !important;
}

body .mt-3 {
  margin-top: 1rem !important;
}

body .mb-3 {
  margin-bottom: 1rem !important;
}

body .ml-3 {
  margin-left: 1rem !important;
}

body .mr-3 {
  margin-right: 1rem !important;
}

body .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color: var(--primary);
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  min-height: 10rem;
}

body main {
  width: 100%;
  height: calc(100vh - 3rem);
  margin-top: 3rem;
}

body main .main__body__menu {
  width: calc(100vw - 1rem);
  left: 0;
  right: 0;
  background: var(--primary);
  color: var(--light);
  padding: 0 0.5rem;
}

body main .main__body__menu .main__body__menu__item {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

body main .main__body__menu .main__body__menu__item.active {
  padding: 1rem 0;
  font-weight: bold;
  border-bottom: solid 0.4rem var(--secondary);
}

body main .main__body__menu .main__body__menu__nav {
  margin: 0;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body main .main__body__menu .main__body__menu__nav .main__body__menu__link {
  padding: 0.5rem;
  color: var(--light);
  font-size: 0.8rem;
  text-transform: uppercase;
}

body main .main__body__menu .main__body__menu__nav .main__body__menu__link i {
  font-size: 1.25rem;
  opacity: 0.8;
}

body main .main__body__menu .main__body__menu__nav .main__body__menu__link .text {
  display: none;
}

body main .section {
  width: calc(100% - 2rem);
  padding: 1rem;
}

body main .section .title {
  margin: 0 0 1rem;
  padding: 0;
}

body main .section .main__section__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark);
  border-bottom: solid 1px var(--gray);
  padding: 1rem 0;
}

body main .section .main__section__user .main__section__user__logo {
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
}

body main .section .main__section__user .main__section__user__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .section .main__section__user .main__section__user__body .main__section__user__title {
  font-size: 1.1rem;
  font-weight: 700;
}

body main .section .main__section__user .main__section__user__body .main__section__user__content {
  font-weight: 300;
}

body main .section .main__section__item .main__section__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: solid 1 var(--dark);
  border-bottom: solid 1px var(--gray);
  padding: 1rem 0;
}

body main .section .main__section__item .main__section__link .main__section__link__text {
  width: calc(100% - 2rem);
  font-size: 1.1rem;
  color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .section .main__section__item .main__section__link .main__section__link__text i {
  font-size: 2rem;
  margin-right: 0.75rem;
  color: var(--secondary);
}

body main .section .main__section__item .main__section__link .main__section__link__text .main__section__link__text__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .section .main__section__item .main__section__link .main__section__link__text .main__section__link__text__content .text-title {
  width: 100%;
  font-weight: 700;
  font-size: 1.1rem;
}

body main .section .main__section__item .main__section__link .main__section__link__text .main__section__link__text__content .text-content {
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
}

body main .section .main__section__item .main__section__link .main__section__link__text .main__section__link__text__content .text-content .text-content__progress {
  width: 100%;
  margin-top: 0.5rem;
}

body main .section .main__section__item .main__section__link .main__section__link__icon {
  min-width: 1.5rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

body main .section .main__section__item .main__section__link .main__section__link__icon i {
  padding: 0 0 0.5rem 0.5rem;
}

body main .section .main__section__card {
  width: calc(100% - 0.5rem);
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .section .main__section__card .main__section__card__date {
  width: 4rem;
  margin-right: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body main .section .main__section__card .main__section__card__date .main__section__card__month {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

body main .section .main__section__card .main__section__card__date .main__section__card__day {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 500;
}

body main .section .main__section__card .main__section__card__body {
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--light);
  color: var(--p-light);
  border: solid 1px var(--p-light);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .section .main__section__card .main__section__card__body .main__section__link__text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .section .main__section__card .main__section__card__body .main__section__link__text__content .text-title {
  font-weight: 700;
}

body main .section .main__section__card .main__section__card__body .main__section__link__text__content .text-content {
  font-size: 1rem;
}

body main .section .main__section__card.active {
  color: var(--light) !important;
  border: solid 1px transparent !important;
  background: var(--p-light) !important;
}

body main .section .main__section__card.active .text-title {
  font-weight: 500;
}

body main .section .main__section__card.done {
  color: var(--dark) !important;
  border: solid 1px transparent !important;
  background: var(--secondary) !important;
}

body main .section .main__section__card.done .text-title {
  font-weight: 500;
}

body main .section .main__section__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 0;
  color: var(--dark);
  border-bottom: solid 1px var(--gray);
}

body main .section .main__section__task .main__section__task__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .section .main__section__task .main__section__task__text i {
  font-size: 2rem;
  margin-right: 0.75rem;
  color: var(--secondary);
}

body main .section .main__section__task .main__section__task__text .main__section__task__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .section .main__section__task .main__section__task__text .main__section__task__body .main__section__task__title {
  font-size: 1.1rem;
  font-weight: 700;
}

body main .section .main__section__task .main__section__task__text .main__section__task__body .main__section__task__content {
  font-weight: 300;
}

body main .section .main__section__task .main__section__task__icon {
  min-width: 1.5rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

body main .section .main__section__task .main__section__task__icon i {
  padding: 0 0 0.5rem 0.5rem;
}

body main .section .main__section__task.lock {
  color: var(--gray);
}

body main .section .main__section__task.lock .main__section__task__text i {
  color: var(--gray);
}

body main .section .main__section__task.lock .main__section__task__text .main__section__task__body .main__section__task__title {
  font-weight: 500;
}

body main .section .main__section__task.lock .main__section__task__icon {
  color: var(--s-dark);
}

body main .section .main__section__person .main__section__person__avatar {
  width: calc(100vw - 2rem);
  text-align: center;
}

body main .section .main__section__person .main__section__person__avatar .main__section__person__avatar--img {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: center center;
  border: solid 1px #ccc;
  border-radius: 50%;
}

body main .section .main__section__person .main__section__person__title {
  margin: 0 0 1rem;
  text-align: center;
  margin: 0;
}

body main .section .main__section__person .main__section__person__subtitle {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2rem;
}

body main .section .main__section__person .main__section__person__block {
  width: calc(100vw - 2rem);
}

body main .section .main__section__person .main__section__person__block .main__section__person__block__label {
  font-weight: 700;
}

body main .section .main__section__person .main__section__person__block .main__section__person__block__content i {
  color: var(--primary);
}

body main .section .main__section__person .main__section__person__block--flex {
  width: calc(100vw - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

body main .section .main__section__person .main__section__person__block--flex button {
  margin: 0 0.5rem;
}

body main .section .main__section__person .main__section__person__block--flex .main__section__person__block__label {
  font-weight: 700;
}

body main .section .main__section__person .main__section__person__block--flex .main__section__person__block__content i {
  color: var(--primary);
}

body main .section .card-alert {
  padding: 1rem 0;
}

body main .section.error {
  text-align: center;
}

body main .section.error i {
  font-size: 10rem;
  margin: 1rem;
  color: var(--gray);
}

body main .section.error .title {
  margin-bottom: 1rem;
}

body main .section.error .title .title--first {
  font-size: 4rem;
  font-weight: 700;
}

body main .section.error .title .title--second {
  font-weight: 300;
  font-size: 1.5rem;
}

body main .section.error a {
  font-weight: 500;
  color: var(--primary);
}
/*# sourceMappingURL=style.css.map */